<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div  class="main_side">
  <h2>成都美享团是什么？</h2>
<img src="/image/img_what_a.gif"/><br/><br/>
<img src="/image/img_what_b.gif"/><br/><br/>
<img src="/image/img_what_c.gif"/><br/><br/>
<img src="/image/img_what_d.gif"/>
</div>