 <div id="bdw"  class="main_side"> <div id="bd" class="cf">
     <div id="learn">
       <div class="head"><h2>玩转美享团</h2></div>
      <div class="sect guide">
        <ul class="guide-steps">
          <li>
            <h3 class="step1">查看今日团品</h3>
            <p class="text">成都美享团每天推出一单团品，团品包括吃、喝、玩、游、乐等各种丰富内容。</p>
          </li>
          <li>
            <h3 class="step2">购买团品</h3>
            <p class="text">
              对今天的团品有兴趣？那就快购买吧！只要点击购买按钮，按照提示步骤进行就OK！
              <img src="/image/guide_buy.gif" style="margin-left:-9px;" />
            </p>
            <div class="bubble">
              <div class="bubble-top">
                  <p>团购到截止时间就结束了，过期不候哦！</p>
                  <p>团购结束时人数还不够？<br/>1)将你的钱保存在帐户中，方便下次团购，<br/>2)或立即全额退款。</p>
              </div>
              <div class="bubble-bottom"></div>
            </div>
          </li>
          <li>
            <h3 class="step3">获取团购凭据</h3>
            <p class="text">
              团购成交就可以去获取您的优惠凭证啦！团购次日的24小时内，我们会向商家提交用户清单，同时通知所有购买用户。
              <img src="/image/guide_phone.gif" width="280" />
            </p>
            <div class="bubble">
              <div class="bubble-top">
                通过两种方式获得团购凭据：
                <ol class="coupon">
                  <li><strong>网上提供的身份认证</strong><br/>
                    <p>
                      您可以提供身份证、学生证、手机号+姓名，经过商家核对即可消费</p>
                  </li>
                  <li><strong>发送手机短信</strong>
                    <p>我们会直接把验证码发送到手机上！通过验证码就可以到商家消费</p>
                  </li>
                </ol>
              </div>
              <div class="bubble-bottom"></div>
            </div>
          </li>
          <li>
            <h3 class="step4">去商家消费</h3>
            <ol class="text">
              <li>
凭证类型为验证码时，您可以把验证码短信(通过网上购物提供的手机号)在有效期内出示给商家，商家核对无误后即可进行消费。
              </li><li>
凭证类型为身份证、学生证、手机号+姓名时，请在有效期内直接携带购买团购精品时所登记的认证，出示给商家核对无误后即可进行消费。
              </li></ol>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
